:root {
  --color-bg: #fff;
  --color-section-title: #000;
  --color-section-description: rgba(78, 93, 124, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
}