* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
  font-family: Roboto, sans-serif;
  color: #FFFFFF;
  margin: none;
}

nav a, nav > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
  color: #FFFFFF; /* не наследует белый цвет от body */
}

search > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.6);
}

.blogCategory {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.6);
}

h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
}

.articleOwner {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.articleOwnerRole {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
}

.articleIntroduction {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.articleText {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}